<header>
  <div id="head">
    <h1 id="titre">Formation Angular BPCE - Lylian</h1>
    <div id="links">
      <a routerLink="/">Home</a>
      <a routerLink="/login">Login</a>
      <a routerLink="sdfdsf">Logout</a>
      <a routerLink="form">Form</a>
      <div id="user">
        <img src="https://previews.123rf.com/images/martialred/martialred1608/martialred160800020/61263273-compte-utilisateur-homme-profil-cercle-ic%C3%B4ne-plat-pour-les-applications-et-les-sites-web.jpg" >
        <h2>{{user}}</h2>
      </div>
    </div>
  </div>
</header>
